In [5]:
import pandas as pd
import urllib, json
import json
import time

In [2]:
df = pd.read_csv("./final_pre.csv")
df.head()

,cust_id_token,current_address,current_city,current_state,current_pin_code,permanent_address,permanent_city,permanent_state,permanent_pin_code
0,1,NaN,JAMBI,INDONESIA,36126,NaN,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,NaN,LONDON,MIDDLE SEX,HA047H
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,NaN,DUBAI,DUBAI,18582,NaN,BARODA,GUJARAT,390007
4,5,NaN,SIRSA,HARYANA,125055,NaN,SIRSA,HARYANA,125055

In [7]:
#for current address
for j in range(5,100):
    st = ""
    for i in range(1,4):    
        st += str(df.iloc[j,i])  
        if str(df.iloc[j,i]) != "NaN" and str(df.iloc[j,i]) != "nan":
            st += ",+"
        st = st.replace("nan", "")
        st = st.replace("NaN", "")
    st+=df.iloc[j,4]
    st = st.replace(" ", "+")
    url = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(st)+"&key=YOUR_API_HERE"
    response = urllib.request.Request(url)
    opener = urllib.request.build_opener()
    f = opener.open(response)
    json1 = json.loads(f.read())
    with open("./JSON_CURRENT/"+str(j+1)+".json", 'w') as fp:
        json.dump(json1, fp)
    time.sleep(0.5)

In [9]:
#for permanent address
for j in range(15,100):
    st = ""
    for i in range(5,8):    
        st += str(df.iloc[j,i])  
        if str(df.iloc[j,i]) != "NaN" and str(df.iloc[j,i]) != "nan":
            st += ",+"
        st = st.replace("nan", "")
        st = st.replace("NaN", "")
    st+=str(df.iloc[j,8])
    st = st.replace(" ", "+")
    url = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(st)+"&key=YOUR_API_KEY"
    response = urllib.request.Request(url)
    opener = urllib.request.build_opener()
    f = opener.open(response)
    json1 = json.loads(f.read())
    with open("./JSON_PERMANENT/"+str(j+1)+".json", 'w') as fp:
        json.dump(json1, fp)
    time.sleep(0.5)

In [82]:
st = ""
for i in range(1,4):    
    st += str(df.iloc[5,i])  
    if str(df.iloc[5,i]) != "NaN" and str(df.iloc[5,i]) != "nan":
        st += ",+"
    st = st.replace("nan", "")
    st = st.replace("NaN", "")
st+=df.iloc[5,4]
st = st.replace(" ", "+")

In [83]:
st

'TARDEO+CIRCLE+PT,+MUMBAI,+MAHARASHTRA,+400034'