In [15]:
import pandas as pd

In [16]:
data = pd.read_excel("dataset.xlsx")

In [17]:
data=data.rename(index=str, columns={"Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code": "address"})

In [18]:
data.head()

                                             address
0  1||JAMBI|INDONESIA|36126||CHENNAI|TAMIL NADU|6...
1  2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115||LONDO...
2  3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3        4||DUBAI|DUBAI|18582||BARODA|GUJARAT|390007
4      5||SIRSA|HARYANA|125055||SIRSA|HARYANA|125055

In [20]:
data

                                              address
0   1||JAMBI|INDONESIA|36126||CHENNAI|TAMIL NADU|6...
1   2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115||LONDO...
2   3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3         4||DUBAI|DUBAI|18582||BARODA|GUJARAT|390007
4       5||SIRSA|HARYANA|125055||SIRSA|HARYANA|125055
5   6|TARDEO CIRCLE PT|MUMBAI|MAHARASHTRA|400034|T...
6   7|PRADESH|ITANAGAR|ARUNACHAL PRADESH|791111|PO...
7   8||LUCKNOW|UTTAR PRADESH|226003||SAUDI ARABIA|...
8   9||NORTH PARRAMATTA|NEW SOUTH WALES|2151||GHAZ...
9   10|NEAR CENTURY MALL|FUJAIRAH|FUJAIRA EMIRATES...
10  11|NEAR BRIDGE STONE COMPANY|PUNE|MAHARASHTRA|...
11  12||AMBERNATH|MAHARASHTRA|421501||AMBERNATH|MA...
12  13||GURGAON|HARYANA|122002|NEAR GOVT SCHOOL|DA...
13  14|BANDRA E NR COLGATE GROUND|MUMBAI|MAHARASHT...
14  15||BEIJING|BEIJING|0|NEAR GCC CLUB MIRA ROAD ...
15           16||LUDHIANA|PUNJAB|141003||DUBAI|DUBAI|
16  17|PHASE 3 KALIKA VIHAR CHIRACHAS|BOKARO|JHARK...
17  18|DISTRICT PAPUMPARE|ITANAGAR|ARUNACHAL PRADE...
18  19|NEAR MOTHER TERESA OLD HOME|TINSUKIA|ASSAM|...
19  20||EPPING|VICTORIA|3076||PUNE|MAHARASHTRA|412207
20  21||VADODARA|GUJARAT|391440||VADODARA|GUJARAT|...
21  22|ROAD MULUND RAILWAY STATION|MUMBAI|MAHARASH...
22  23||MUMBAI|MAHARASHTRA|400052||HARRISON|CALIFO...
23  24|HOSPITAL PALGHAR BOISAR RD DT THANE|PALGHAR...
24  25||ELBERTON|GEORGIA|30635||ELBERTON|GEORGIA|3...
25  26|WADALA|MUMBAI|MAHARASHTRA|400031|392076659|...
26  27|SAI SERVICE CENTER BORIVALI EAST|MUMBAI|MAH...
27  28|ORBIT TERRACES SENAPATI BAPAT ROAD|OPPS KAM...
28  29|AMBEDKAR MARG CRAWFORD MARKET|FORT MUMBAI|M...
29  30||VASAI PALGHAR|MAHARASHTRA|401201||VASAI PA...
..                                                ...
70  71||SURREY|MIDDLESEX|TW16 7DU||VAPI|GUJARAT|39...
71  72|RAIGARH|RAIGARH|MAHARASHTRA|402112|RAIGARH|...
72  73||CHITTORGARH|RAJASTHAN|312001||CHITTORGARH|...
73  74|MAHAKALI CAVES ROAD ANDHERI EAST|MUMBAI|MAH...
74  75|CHAND|CHHINDWARA|MADHYA PRADESH|480110|KHAM...
75  76|COLONY GALIRA ROAD|SAHARANPUR|UTTAR PRADESH...
76  77|SADASHIV NAGAR|BELGAUM|KARNATAKA|590010|SAD...
77  78|NEHRU NAGAR|BELGAUM|KARNATAKA|590010|NEHRU ...
78  79||NEW DELHI|DELHI|110019||NEW DELHI|DELHI|11...
79  80||PUNE|MAHARASHTRA|411046||PUNE|MAHARASHTRA|...
80  81|GIGA SPACE VIMANNAGAR DUKIRKLINE|PUNE|MAHAR...
81  82||PIPARIYA HOSHANGABAD|MADHYA PRADESH|461775...
82  83||DEWAS|MADHYA PRADESH|455001||DEWAS|MADHYA ...
83  84|KOIL|MANALURPET|TAMIL NADU|605754||RIYADH|R...
84  85||HOSHIARPUR|PUNJAB|146001||HOSHIARPUR|PUNJA...
85  86|HOSHIARPUR|HOSHIARPUR|PUNJAB|146001|HOSHIAR...
86  87|VIKROLI E|MUMBAI|MAHARASHTRA|400083|VIKROLI...
87  88|COMPLEX GRID ROAD KABILPORE NAVSARI|NAVSARI...
88         89||DELHI|DELHI|110034||SAFAT|KUWAIT|13031
89  90||PUNE|MAHARASHTRA|411028||PUNE|MAHARASHTRA|...
90  91||DASUYA|PUNJAB|144214||DOHA QATAR|DOHA QATA...
91  92||UDHAMPUR|JAMMU AND KASHMIR|905171||UDHAMPU...
92  93||CALIFORNIA|CALIFORNIA|94040||CALIFORNIA|CA...
93  94||ARLINGTON|VIRGINIA|22204||NEW DELHI|DELHI|...
94     95||AJNALA|PUNJAB|143102||AJNALA|PUNJAB|143102
95  96||AL KHOBAR|SAUDI ARABIA|31952||MUZAFFAR NAG...
96  97||KATRA|JAMMU AND KASHMIR|182301||PANTGAON|U...
97  98|ROAD KESHWANA JAIPUR|BEHROR|RAJASTHAN|30170...
98  99||AL KHARJ|RIYADH|11942||NEW DELHI|NEW DELHI...
99  100||JALANDHAR|PUNJAB|144629||SHARJAH|SHARJAH|...

[100 rows x 1 columns]

In [ ]:
new = df["address"].str.split("|", n = 10, expand = True)